openapi: 3.0.4
info:
  title: Coin Flipper
  description: >-
    Coin Flipper is a tool for simulating coin flips. It can flip multiple coins
    at once and provides statistics including heads/tails counts, percentages,
    streaks, and fairness analysis for probability experiments and gaming.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/coinflipper:
    get:
      summary: Flip Coins
      description: Flip one or more coins and get detailed results
      operationId: coinflipper
      parameters:
        - name: flips
          in: query
          schema:
            type: integer
          required: false
          description: Number of coins to flip
          example: 10
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  total_flips: 10
                  flips:
                    - Tails
                    - Heads
                    - Heads
                    - Tails
                    - Tails
                    - Heads
                    - Tails
                    - Tails
                    - Tails
                    - Tails
                  heads_count: 3
                  tails_count: 7
                  heads_percentage: 30
                  tails_percentage: 70
                  longest_streak:
                    length: 4
                    type: Tails
                  first_flip: Tails
                  last_flip: Tails
                  is_fair: false
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
